@charset "UTF-8";

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}
a:link {color:black; text-decoration: none;}
a:visited {color:black; text-decoration: none;}
a:hover {color:white; background-color: darkgray;}

body {
  font-family: verdana, geneva, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 25px;
  margin: 30px 0 40px 0;
  clear: left;
}

p {
  font-size: 13px;
  line-height: 1.3em;
  width: 500px;
}

#header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

#logo {
  float: left;
  width: 150px;
  height: 150px;
}
nav {
  float: left;
  width: 300px;
  height: 50px;
  margin-top: 90px;
  padding-left: 20px;
  background-color: lightgray;
  text-transform: uppercase;
}
nav a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
}
#main {
  margin-left: 30px;
  margin-bottom: 50px;
}
.gray {
  color: lightgray;
}
